{% extends 'base.html' %}

{% block content %}
<h1>SignUp</h1>

    {% if error %}
        {{ error }}
        <br />
        <br />
    {% endif %}

<div class="container"></div>
    <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
        Username: <br />
        <input type="text" name="username" />
        <br />
        Password: <br />
        <input type="password" name="password">
        <br />
        Confirm Password: <br />
        <input type="password" name="password1">
        <br />
        <br/ >
        <input class="btn btn-warning" type="submit" value="Signup!" />
    </form>

{% endblock %}